{% extends 'layouts/base.html' %}

{% block content%}
  <h1>page about</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, voluptatibus veritatis earum vel inventore distinctio magni provident, consequatur libero, nisi perspiciatis maxime nobis beatae excepturi eveniet deserunt necessitatibus cupiditate. Dolorum?
  Dolore voluptas a quidem accusamus impedit eaque, repudiandae suscipit quae aliquam aliquid tenetur error molestias quod ipsum perspiciatis provident alias deleniti earum voluptate expedita omnis soluta est eos. Quaerat, dolores.
  Deleniti esse, veritatis iusto modi harum at vero, saepe ut architecto laborum ipsam illo dolore tenetur vel recusandae necessitatibus consequatur quae voluptas mollitia. Suscipit, fugiat debitis. Molestiae eveniet incidunt voluptates?
  Magni consectetur distinctio totam quasi, dignissimos tempora veniam nobis, commodi laudantium fugit praesentium neque non? Ea eaque debitis ad a soluta placeat, natus assumenda. Mollitia sed delectus repellat harum veritatis.
  Nostrum a nisi mollitia laudantium blanditiis non voluptatibus quam, et omnis aliquam perspiciatis vero obcaecati minus animi assumenda cumque incidunt sunt tenetur praesentium sed magnam. Nisi minus earum beatae tempora.</p>

{% endblock %}