{% extends 'layouts/base.html' %}

{% block content%}
  <h1>page Contact</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur nulla est commodi error? Reiciendis perspiciatis non necessitatibus molestias, est in quidem quis? Fugiat adipisci ab, ut earum illo atque est!Quibusdam, consequuntur nulla. Ipsa nihil explicabo commodi fuga, animi, sint amet, recusandae qui quam quisquam provident quidem. Sed, temporibus eius iste eos illo cum sequi necessitatibus doloribus voluptatum laudantium voluptate.</p>

{% endblock %}